.pagination-cont {
  display: flex;
  width: 18rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: var(--text-2);

  .icons {
    font-size: 1.6rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      color: var(--theme-color-2);
    }
  }
}

.search-cont {
  width: auto !important;
}
